In [1]:
import numpy as np 
import pandas as pd

In [3]:
from datetime  import datetime

In [4]:
now = datetime.now()

In [5]:
now

datetime.datetime(2019, 7, 17, 20, 33, 35, 942000)

In [6]:
now.year,now.month,now.day

(2019, 7, 17)

In [7]:
delta = datetime(2011,1,7)  - datetime(2008,6,24,8,15)

In [8]:
delta

datetime.timedelta(days=926, seconds=56700)

In [9]:
delta.days

926

In [10]:
delta.seconds

56700

In [11]:
from  datetime import timedelta

In [12]:
start = datetime(2011,1,7)

In [13]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [14]:
start - timedelta(12) * 2

datetime.datetime(2010, 12, 14, 0, 0)

In [15]:
stamp = datetime(2011,1,3)

In [16]:
str(stamp)

'2011-01-03 00:00:00'

In [18]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [19]:
value = '2011-01-03'

In [20]:
datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [26]:
datestrs = ['7/6/2011','8/6/2011']

In [29]:
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [31]:
from dateutil.parser import parse

In [33]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [34]:
parse('Jan 31,1997 10:45 PM')

datetime.datetime(2019, 1, 31, 22, 45)

In [35]:
parse('6/12/2011',dayfirst = True)

datetime.datetime(2011, 12, 6, 0, 0)

In [36]:
datestrs = ['2011-07-06 12:00:00','2011-08-06 00:00:00']

In [37]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [38]:
idx = pd.to_datetime(datestrs + [None])

In [39]:
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [40]:
idx[2]

NaT

In [41]:
pd.isnull(idx)

array([False, False,  True])

In [44]:
dates = [datetime(2011,1,2),datetime(2011,1,5),datetime(2011,1,7),datetime(2011,1,8),datetime(2011,1,10),datetime(2011,1,12)]

In [46]:
ts = pd.Series(np.random.randn(6),index = dates)

In [47]:
ts

2011-01-02   -0.103355
2011-01-05    0.381169
2011-01-07   -2.240571
2011-01-08   -0.035456
2011-01-10    0.408898
2011-01-12   -0.689801
dtype: float64

In [48]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [49]:
ts[::2]

2011-01-02   -0.103355
2011-01-07   -2.240571
2011-01-10    0.408898
dtype: float64

In [51]:
ts[::]

2011-01-02   -0.103355
2011-01-05    0.381169
2011-01-07   -2.240571
2011-01-08   -0.035456
2011-01-10    0.408898
2011-01-12   -0.689801
dtype: float64

In [52]:
ts.index.dtype

dtype('<M8[ns]')

In [54]:
stamp = ts.index[0]

In [55]:
stamp

Timestamp('2011-01-02 00:00:00')

In [58]:
ts[datetime(2011,1,7):]

2011-01-07   -2.240571
2011-01-08   -0.035456
2011-01-10    0.408898
2011-01-12   -0.689801
dtype: float64

In [59]:
ts.truncate(after='1/9/2011')

2011-01-02   -0.103355
2011-01-05    0.381169
2011-01-07   -2.240571
2011-01-08   -0.035456
dtype: float64

In [60]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')

In [62]:
long_df = pd.DataFrame(np.random.randn(100, 4),
                   index=dates,
                   columns=['Colorado', 'Texas', 'New York', 'Ohio'])

In [63]:
long_df.loc['2001-05']

            Colorado     Texas  New York      Ohio
2001-05-02 -1.161204  0.114575  0.705002  0.538929
2001-05-09 -0.641090 -0.170673 -0.346453 -0.051151
2001-05-16  2.422625  0.839514  0.408269 -1.186178
2001-05-23  0.038608  0.748010  1.295216 -0.452605
2001-05-30  0.666346 -0.428016 -0.071844  2.395024

In [64]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000','1/2/2000','1/3/2000'])

In [67]:
dup_ts = pd.Series(np.arange(5), index=dates)

In [68]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [69]:
dup_ts.index.is_unique

False

In [70]:
dup_ts['1/3/2000']

4

In [71]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [74]:
grouped = dup_ts.groupby(level=-1)

In [75]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [76]:
ts.resample('D')

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

In [77]:
ts

2011-01-02   -0.103355
2011-01-05    0.381169
2011-01-07   -2.240571
2011-01-08   -0.035456
2011-01-10    0.408898
2011-01-12   -0.689801
dtype: float64

In [78]:
index = pd.date_range('4/1/2012', '6/1/2012')

In [79]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [80]:
pd.date_range(start='4/1/2012', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [81]:
pd.date_range(end='6/1/2012', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [82]:
pd.date_range('1/1/2000','12/1/2000', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [83]:
pd.date_range('5/2/2012 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [84]:
pd.date_range('5/2/2012 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [85]:
from pandas.tseries.offsets import Hour, Minute

In [86]:
hour = Hour()

In [87]:
hour

In [88]:
four_hours = Hour(4)

In [89]:
four_hours

In [90]:
pd.date_range('1/1/2000', '1/3/2000 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [91]:
Hour(2) + Minute(30)

In [92]:
pd.date_range('1/1/2000', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [93]:
rng = pd.date_range('1/1/2012', '9/1/2012', freq='WOM-3FRI')

In [94]:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

In [96]:
ts = pd.Series(np.random.randn(4),
           index=pd.date_range('1/1/2000', periods=4, freq='M'))

In [97]:
ts

2000-01-31    0.388631
2000-02-29    2.072305
2000-03-31    0.028792
2000-04-30   -1.019490
Freq: M, dtype: float64

In [98]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.388631
2000-04-30    2.072305
Freq: M, dtype: float64

In [99]:
ts.shift(-2)

2000-01-31    0.028792
2000-02-29   -1.019490
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [100]:
ts.shift(2, freq='M')

2000-03-31    0.388631
2000-04-30    2.072305
2000-05-31    0.028792
2000-06-30   -1.019490
Freq: M, dtype: float64

In [101]:
ts.shift(3, freq='D')

2000-02-03    0.388631
2000-03-03    2.072305
2000-04-03    0.028792
2000-05-03   -1.019490
dtype: float64

In [102]:
ts.shift(1, freq='3D')

2000-02-03    0.388631
2000-03-03    2.072305
2000-04-03    0.028792
2000-05-03   -1.019490
dtype: float64

In [103]:
ts.shift(1, freq='90T')

2000-01-31 01:30:00    0.388631
2000-02-29 01:30:00    2.072305
2000-03-31 01:30:00    0.028792
2000-04-30 01:30:00   -1.019490
Freq: M, dtype: float64

In [104]:
from pandas.tseries.offsets import Day, MonthEnd

In [105]:
now = datetime(2011, 11, 7)

In [106]:
now + 3 * Day()

Timestamp('2011-11-10 00:00:00')

In [107]:
offset = MonthEnd()

In [109]:
ts = pd.Series(np.random.randn(20), index=pd.date_range('1/15/2000', periods=20, freq='4d'))

In [110]:
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.547890
2000-02-29    0.128668
2000-03-31    0.912409
dtype: float64

In [111]:
ts.resample('M', how='mean')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).mean()
  """Entry point for launching an IPython kernel.

2000-01-31   -0.547890
2000-02-29    0.128668
2000-03-31    0.912409
Freq: M, dtype: float64

In [112]:
import pytz

In [113]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [115]:
tz = pytz.timezone('US/Eastern')

In [116]:
tz

In [117]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')

In [118]:
rng

DatetimeIndex(['2012-03-09 09:30:00', '2012-03-10 09:30:00',
               '2012-03-11 09:30:00', '2012-03-12 09:30:00',
               '2012-03-13 09:30:00', '2012-03-14 09:30:00'],
              dtype='datetime64[ns]', freq='D')

In [120]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [121]:
ts

2012-03-09 09:30:00    0.180540
2012-03-10 09:30:00    0.032500
2012-03-11 09:30:00    0.396971
2012-03-12 09:30:00    0.541925
2012-03-13 09:30:00   -0.409696
2012-03-14 09:30:00    1.111709
Freq: D, dtype: float64

In [124]:
print(ts.index.tz)

None

In [125]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [126]:
ts_utc = ts.tz_localize('UTC')

In [127]:
ts_utc

2012-03-09 09:30:00+00:00    0.180540
2012-03-10 09:30:00+00:00    0.032500
2012-03-11 09:30:00+00:00    0.396971
2012-03-12 09:30:00+00:00    0.541925
2012-03-13 09:30:00+00:00   -0.409696
2012-03-14 09:30:00+00:00    1.111709
Freq: D, dtype: float64

In [128]:
list(ts_utc.index)

[Timestamp('2012-03-09 09:30:00+0000', tz='UTC', freq='D'),
 Timestamp('2012-03-10 09:30:00+0000', tz='UTC', freq='D'),
 Timestamp('2012-03-11 09:30:00+0000', tz='UTC', freq='D'),
 Timestamp('2012-03-12 09:30:00+0000', tz='UTC', freq='D'),
 Timestamp('2012-03-13 09:30:00+0000', tz='UTC', freq='D'),
 Timestamp('2012-03-14 09:30:00+0000', tz='UTC', freq='D')]

In [129]:
ts_utc.tz_convert('US/Eastern')

2012-03-09 04:30:00-05:00    0.180540
2012-03-10 04:30:00-05:00    0.032500
2012-03-11 05:30:00-04:00    0.396971
2012-03-12 05:30:00-04:00    0.541925
2012-03-13 05:30:00-04:00   -0.409696
2012-03-14 05:30:00-04:00    1.111709
Freq: D, dtype: float64

In [130]:
ts_eastern = ts.tz_localize('US/Eastern')

In [131]:
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00    0.180540
2012-03-10 14:30:00+00:00    0.032500
2012-03-11 13:30:00+00:00    0.396971
2012-03-12 13:30:00+00:00    0.541925
2012-03-13 13:30:00+00:00   -0.409696
2012-03-14 13:30:00+00:00    1.111709
Freq: D, dtype: float64

In [132]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00    0.180540
2012-03-10 15:30:00+01:00    0.032500
2012-03-11 14:30:00+01:00    0.396971
2012-03-12 14:30:00+01:00    0.541925
2012-03-13 14:30:00+01:00   -0.409696
2012-03-14 14:30:00+01:00    1.111709
Freq: D, dtype: float64

In [133]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

In [134]:
stamp = pd.Timestamp('2011-03-12 04:00')

In [135]:
stamp

Timestamp('2011-03-12 04:00:00')

In [136]:
stamp_utc = stamp.tz_localize('utc')

In [137]:
stamp_utc

Timestamp('2011-03-12 04:00:00+0000', tz='UTC')

In [138]:
stamp_utc.tz_convert('US/Eastern')

Timestamp('2011-03-11 23:00:00-0500', tz='US/Eastern')

In [139]:
stamp_moscow = pd.Timestamp('2011-03-12 4:00', tz='Europe/Moscow')

In [140]:
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [141]:
stamp_utc.value

1299902400000000000

In [142]:
stamp_utc.tz_convert('US/Eastern').value

1299902400000000000

In [143]:
from pandas.tseries.offsets import Hour

In [144]:
stamp = pd.Timestamp('2012-03-12 01:30', tz='US/Eastern')

In [145]:
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [146]:
stamp + Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [147]:
stamp = pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')

In [148]:
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [149]:
stamp + 2* Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

In [150]:
from pandas import DataFrame, Series
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\magics\pylab.py:160: UserWarning: pylab import has clobbered these variables: ['datetime']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

In [151]:
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')

In [152]:
ts = Series(np.random.randn(len(rng)), index=rng)

In [153]:
ts

2012-03-07 09:30:00    0.451310
2012-03-08 09:30:00   -0.495519
2012-03-09 09:30:00   -0.025444
2012-03-12 09:30:00    0.993332
2012-03-13 09:30:00   -1.660262
2012-03-14 09:30:00    0.778173
2012-03-15 09:30:00   -1.061941
2012-03-16 09:30:00    0.029462
2012-03-19 09:30:00    1.265615
2012-03-20 09:30:00   -0.054916
Freq: B, dtype: float64

In [154]:
ts1 = ts[:7].tz_localize('Europe/London')

In [155]:
ts1

2012-03-07 09:30:00+00:00    0.451310
2012-03-08 09:30:00+00:00   -0.495519
2012-03-09 09:30:00+00:00   -0.025444
2012-03-12 09:30:00+00:00    0.993332
2012-03-13 09:30:00+00:00   -1.660262
2012-03-14 09:30:00+00:00    0.778173
2012-03-15 09:30:00+00:00   -1.061941
Freq: B, dtype: float64

In [156]:
ts2 = ts1[2:].tz_convert('Europe/Moscow')
ts2

2012-03-09 13:30:00+04:00   -0.025444
2012-03-12 13:30:00+04:00    0.993332
2012-03-13 13:30:00+04:00   -1.660262
2012-03-14 13:30:00+04:00    0.778173
2012-03-15 13:30:00+04:00   -1.061941
Freq: B, dtype: float64

In [157]:
result = ts1 + ts2

In [158]:
result

2012-03-07 09:30:00+00:00         NaN
2012-03-08 09:30:00+00:00         NaN
2012-03-09 09:30:00+00:00   -0.050888
2012-03-12 09:30:00+00:00    1.986664
2012-03-13 09:30:00+00:00   -3.320523
2012-03-14 09:30:00+00:00    1.556346
2012-03-15 09:30:00+00:00   -2.123882
Freq: B, dtype: float64

In [159]:
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

In [160]:
rng = pd.period_range('1/1/2000', '6/30/2000',freq='M')

In [161]:
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [162]:
pd.Series(np.random.randn(6), index=rng)

2000-01   -0.314334
2000-02   -0.789840
2000-03    0.581050
2000-04   -0.947134
2000-05   -1.004525
2000-06    0.848074
Freq: M, dtype: float64

In [163]:
values = ['2001Q3', '2002Q2', '2003Q1']

In [164]:
index = pd.PeriodIndex(values, freq='Q-DEC')

In [165]:
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

In [166]:
p = pd.Period('2007', freq='A-DEC')

In [167]:
p.asfreq('M', how='start')

Period('2007-01', 'M')

In [168]:
p.asfreq('M', how='end')

Period('2007-12', 'M')

In [169]:
p = pd.Period('2007', freq='A-JUN')

In [170]:
p.asfreq('M','start')

Period('2006-07', 'M')

In [171]:
p.asfreq('M','end')

Period('2007-06', 'M')

In [172]:
p = pd.Period('2007-08', 'M')

In [173]:
p.asfreq('A-JUN')

Period('2008', 'A-JUN')

In [174]:
rng = pd.period_range('2006', '2009', freq='A-DEC')

In [175]:
ts = Series(np.random.randn(len(rng)), index=rng)

In [176]:
ts

2006    0.081884
2007    2.184104
2008    1.996338
2009    0.814323
Freq: A-DEC, dtype: float64

In [177]:
ts.asfreq('M', how='start')

2006-01    0.081884
2007-01    2.184104
2008-01    1.996338
2009-01    0.814323
Freq: M, dtype: float64

In [178]:
ts.asfreq('B', how='end')

2006-12-29    0.081884
2007-12-31    2.184104
2008-12-31    1.996338
2009-12-31    0.814323
Freq: B, dtype: float64

In [179]:
p = pd.Period('2014Q4', freq='Q-JAN')

In [180]:
p

Period('2014Q4', 'Q-JAN')

In [181]:
p.asfreq('D', 'start')

Period('2013-11-01', 'D')

In [182]:
p.asfreq('D', 'end')

Period('2014-01-31', 'D')

In [183]:
p4pm = (p.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60

In [184]:
p4pm

Period('2014-01-30 16:00', 'T')

In [185]:
p4pm.to_timestamp()

Timestamp('2014-01-30 16:00:00')

In [186]:
rng = pd.period_range('2011Q3', '2012Q4', freq='Q-JAN')

In [187]:
rng

PeriodIndex(['2011Q3', '2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4'], dtype='period[Q-JAN]', freq='Q-JAN')

In [188]:
ts= Series(np.arange(len(rng)), index=rng)

In [189]:
ts

2011Q3    0
2011Q4    1
2012Q1    2
2012Q2    3
2012Q3    4
2012Q4    5
Freq: Q-JAN, dtype: int32

In [190]:
new_rng = (rng.asfreq('B', 'e') -1).asfreq('T', 's') + 16*60

In [191]:
new_rng

PeriodIndex(['2010-10-28 16:00', '2011-01-28 16:00', '2011-04-28 16:00',
             '2011-07-28 16:00', '2011-10-28 16:00', '2012-01-30 16:00'],
            dtype='period[T]', freq='T')

In [192]:
ts_index = new_rng.to_timestamp()

In [193]:
ts_index

DatetimeIndex(['2010-10-28 16:00:00', '2011-01-28 16:00:00',
               '2011-04-28 16:00:00', '2011-07-28 16:00:00',
               '2011-10-28 16:00:00', '2012-01-30 16:00:00'],
              dtype='datetime64[ns]', freq=None)

In [194]:
from scipy.stats import percentileofscore

In [195]:
score_at_2percent = lambda x:percentileofscore(x,0.02)